<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GradingSystem.Properties.Settings.GradingSystemConnectionString"
            connectionString="Data Source=PETER-PC\SQLEXPRESS;Initial Catalog=GradingSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GradingSystem.Properties.Settings.GradingSysConnectionString"
            connectionString="Data Source=HP-HP\SQLEXPRESS;Initial Catalog=GradingSys;User ID=root;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>